body {
    font-family: "Lato", sans-serif;
    }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
    }
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    }
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
#main {
    transition: margin-left .5s;
    padding: 16px;
    }
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
    }

#buttonnav{
    margin-top:5px;
    margin-left:7px;
    font-size:18px;
    cursor:pointer;
    }

.title-nav{
    margin-top:10px;
    float: center;
    }

@media screen and (max-width: 450px) {
    #buttonnav{
        font-size: 0px;
    }
    .title-nav{
        text-align: center;
    }
    }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin-top
  }

.card{
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    box-shadow:  0 24px 32px 0 rgba(0,0,0,0.2);
}

.card-container{
    margin-left: -15px;
    margin-right: -15px;
    display:flex;
}

.myRow{
    margin-left: -15px;
    margin-right: -15px;
    display:flex;
    margin-top: 50px;
}

.text-container{
    padding: 15px;
    margin-top: 15px;
    padding-bottom: 10px;
    background-color: #E0ECFF;
}

.col-3{
    position: relative;
    min-height: 1px;
    margin-left:15px;
    margin-right:15px;
}

.col-12{
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 768px) {
    .card-container{
        margin-left: -15px;
        margin-right: -15px;
        display:inline;
    }
    .card{
        box-shadow:0 12px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-bottom:50px;
    }
    .myRow{
    margin-left: -15px;
    margin-right: -15px;
    display:flex;
    margin-top: 0px;
    }
    .col-12{
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}
}

.text-space{
    background-color: #E0ECFF;
    margin-bottom:0px;
    margin-top:0px;
    padding:300px;
}

.introduction{
    margin-top :0px;
    padding-top:15px;
    padding-left:60px;
    padding-right:30px;
    padding-bottom:30px;
    width: 100%;
    background-color: #EFEFEF
}

.footer{
    margin-top :60px;
    padding-top:50px;
    padding-left:60px;
    padding-right:30px;
    padding-bottom:200px;
    width: 100%;
    background-color: #EFEFEF
}

.footer-nowhitespace{
    margin-top :0px;
    padding-top:50px;
    padding-left:60px;
    padding-right:30px;
    padding-bottom:100px;
    width: 100%;
    background-color: #EFEFEF
}

.parallax {
    /* The image used */
    background-image: url('https://s30.postimg.org/4sd5vv7sx/aboutbg1.png');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.about{
    padding-top: 40px;
    height:300px;
    background-color: white;
    padding-left:100px;
    padding-right:100px;
}

.about-text{
    overflow: auto;
    color: #777;
    font-size: 16px;
}

.title-container{
    position: absolute;
    left: 40%;
    top: 50%;
    width: 20%;
    padding: 7px;
    padding-top:0;
    height: 100%
    margin: 0;
    background-color: #111
}

.title-text{
    text-align: center;
    font-size: 130%;
    letter-spacing: 5px;
    color: #FFFFFF
}

@media screen and (max-width: 1220px) {
    .title-container{
        padding: 7px;
        padding-top:0;
        width: 20%;
        left: 40%;
    }
    .title-text{
    text-align: center;
    font-size: 100%;
    letter-spacing: 5px;
    color: #FFFFFF
}
}

@media screen and (max-width: 1052px) {
    .title-container{
        padding: 7px;
        padding-top:0;
        width: 25%;
        left: 38%;
    }
    .title-text{
        text-align: center;
        font-size: 100%;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 806px) {
    .title-container{
        padding: 7px;
        padding-top:0;
        width: 30%;
        left: 35%;
    }
    .title-text{
        text-align: center;
        font-size: 100%;
        letter-spacing: 5px;
    }
        .about{
    height:350px;
}
}

@media screen and (max-width: 600px) {
    .title-container{
        padding: 7px;
        padding-top:0;
        width: 45%;
        left: 28%;
    }
    .about{
    height:350px;
}
}

@media screen and (max-width: 550px) {
    .title-container{
        padding: 7px;
        padding-top:0;
        width: 45%;
        left: 28%;
    }
    .about{
        height:400px;
}
}

@media screen and (max-width: 500px) {
    .title-container{
        padding: 7px;
        padding-top:0;
        width: 60%;
        left: 20%;
    }
    .about{
        height:500px;
}
}

@media screen and (max-width: 400px) {
    .about{
        height:680px;
}
}