<html>
<head>
<title>{{ name }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
{%load static %}
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <!-- navbar-->
        <div class="row">
            <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="index.html">Home</a>
                    <a href="#">About</a>
                        </div>
            <div id="main" style="display:inline-flex;">
                    <span style="cursor:pointer; margin-top: 7px; margin-left: 15px" onclick="openNav()">&#9776;</span>
                    <span id="buttonnav" onclick="openNav()">MENU</span>
                    </div>
            <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                    }
                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    document.getElementById("main").style.marginLeft= "0";
                    }
                </script>
            <div style="border-left:1px solid #BEBEBE;height:62px;"></div>
            <div class="col-md-11">
                <a href="index.html"><img alt="logo" style="cursor:pointer;" class="title-nav" data-target="index.html" src="{% static "res/logo_with_name.png" %}"></a>
                </div>
            </div>
        <!-- carousel-->
        <div class="row">
            <div class="col-md-12">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                  <div class="item active">
                    <img src="{% static "res/techie.jpg" %}" alt="Chania" width="1440" height="550">
                    <div class="carousel-caption">
                      <h3>Techie</h3>
                      <p>Look at those dem lines of code that we don't know what it is about.</p>
                        </div>
                    </div>
                  <div class="item">
                    <img src="{% static "res/doge.jpg" %}" alt="Chania" width="1440" height="550">
                    <div class="carousel-caption">
                      <h3>Doge</h3>
                      <p>The doge looks sad but actually he is not.</p>
                        </div>
                    </div>

                  <div class="item">
                    <img src="{% static "res/tech.jpg" %}" alt="Flower" width="1440" height="550">
                    <div class="carousel-caption">
                      <h3>Typist</h3>
                      <p>That guy maybe drunk, just look at the air's screen.</p>
                        </div>
                    </div>

                  <div class="item">
                    <img src="{% static "res/nature.jpg" %}" alt="Flower" width="1440" height="550">
                    <div class="carousel-caption">
                      <h3>Autumn leaves</h3>
                      <p>The soothing view of autumn leaves fills you with determination.</p>
                        </div>
                    </div>

                    </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                    </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                    </a>
                </div>
                </div>
            </div>
        <!-- intro-->
        <div class="row">
            <div class="introduction">
                <h1>Hello my name is {{ name }}</h1>
                <article>I'm {{ age }} years old</article>
            </div>
        </div>
        <!-- cards-->
        <div class="row">
            <div class="col-md-12" style="margin-left:30px; margin-right: 30px; margin-top: 60px; margin-bottom: 30px">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#featured">Featured</a></li>
                    <li><a data-toggle="tab" href="#recent">Recent</a></li>
                </ul>

                <div class="tab-content">
                    <div id="featured" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-container">
                                    <div class="col-3" data-toggle="modal" data-target="#ppl" style="cursor: pointer; margin-right: 10px;">
                                      <div class="card">
                                        <img src="{% static "res/ppl.png" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Cute Girl</b></h4>
                                            <p>Can't resist the lips.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="ppl" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Cute Girl</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/ppl.png" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>Can't resist the lips, her eyes are also beautiful. When can I find such beautiful creature?</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    <div class="col-3" data-toggle="modal" data-target="#animal" style="cursor: pointer; margin-right: 10px; margin-left: 10px">
                                      <div class="card">
                                        <img src="{% static "res/animal.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Majestic Bird</b></h4>
                                            <p>The wings are so majestic.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="animal" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Majestic Bird</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/animal.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>The wings are so majestic, he makes his friend jealous.</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    <div class="col-3" data-toggle="modal" data-target="#minitech" style="cursor: pointer; margin-right: 10px; margin-left: 10px">
                                      <div class="card">
                                        <img src="{% static "res/minitech.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Neat Photography</b></h4>
                                            <p>Sacrifices a camera.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="minitech" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Neat Photography</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/minitech.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>Sacrifices a camera to create such photography. Wanna try with laptop?</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    <div class="col-3" data-toggle="modal" data-target="#mininature" style="cursor: pointer; margin-right: 10px; margin-left: 10px">
                                      <div class="card">
                                        <img src="{% static "res/mininature.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Seaside View</b></h4>
                                            <p>A beautiful scenery of sea and sky.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="mininature" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Seaside View</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/mininature.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>A beautiful scenery of sea and sky. It makes me wanna go to the far end of the bridge</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="myRow">
                            <div class="col-12">
                                <div class="card-container">
                                    <div class="col-3" data-toggle="modal" data-target="#minianimals2" style="cursor: pointer; margin-right: 10px;">
                                      <div class="card">
                                        <img src="{% static "res/minianimals2.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Skate Doge</b></h4>
                                            <p>The doge is trying to look cool.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="minianimals2" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Skate Doge</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/minianimals2.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>The doge is trying to look cool even though he is already cool.</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    <div class="col-3" data-toggle="modal" data-target="#arch" style="cursor: pointer; margin-right: 10px; margin-left: 10px">
                                      <div class="card">
                                        <img src="{% static "res/arch.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Night Traffic</b></h4>
                                            <p>Still better than Jakarta</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="arch" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Night Traffic</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/arch.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>Still better than Jakarta, yet nothing better than Sidoarjo.</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    <div class="col-3" data-toggle="modal" data-target="#gs" style="cursor: pointer; margin-right: 10px; margin-left: 10px">
                                      <div class="card">
                                        <img src="{% static "res/gs.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Bridge in Black & White</b></h4>
                                            <p>Throwback thursday, gloomy day.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="gs" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Bridge in Black & White</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/gs.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>Throwback thursday, gloomy day. When he handed in the physics results.</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    <div class="col-3" data-toggle="modal" data-target="#mininature2" style="cursor: pointer; margin-right: 10px; margin-left: 10px">
                                      <div class="card">
                                        <img src="{% static "res/mininature2.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Blue stones</b></h4>
                                            <p>It's blue, deal with it.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="mininature2" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Blue Stones</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/mininature2.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>It's blue, deal with it. Nothing bests blue stones.</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                    <div id="recent" class="tab-pane fade">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-container">
                                    <div class="col-3" data-toggle="modal" data-target="#mininature3" style="cursor: pointer; margin-right: 10px;">
                                      <div class="card">
                                        <img src="{% static "res/mininature3.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Forest View</b></h4>
                                            <p>Reduce, reuse, recycle.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="mininature3" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Forest View</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/mininature3.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>Reduce, reuse, recycle. Don't wanna recycle? Don't wanna live.</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    <div class="col-3" data-toggle="modal" data-target="#mininature4" style="cursor:pointer;margin-right:10px;margin-left:10px">
                                      <div class="card">
                                        <img src="{% static "res/mininature3.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Blue Stones</b></h4>
                                            <p>It's blue, deal with it.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="mininature4" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Blue Stones</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/mininature3.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>It's blue, deal with it. Nothing bests blue stones.</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    <div class="col-3" data-toggle="modal" data-target="#ppl2" style="cursor: pointer; margin-right: 10px; margin-left: 10px">
                                      <div class="card">
                                        <img src="{% static "res/ppl2.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Down the Streets</b></h4>
                                            <p>In the memory of The Beatles.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="ppl2" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Down the Streets</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/ppl2.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>In the memory of The Beatles. World is now gray without them.</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    <div class="col-3" data-toggle="modal" data-target="#tech2" style="cursor: pointer; margin-right: 10px; margin-left: 10px">
                                      <div class="card">
                                        <img src="{% static "res/tech2.jpg" %}" alt="Avatar" style="width:100%">
                                        <div style="padding: 2px 16px">
                                            <h4><b>Artsy Techie</b></h4>
                                            <p>Hey, how are you feelin?</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="tech2" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Artsy Techie</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <img src="{% static "res/tech2.jpg" %}" alt="Avatar" style="width:100%">
                                                  <div class="text-container">
                                                    <p>Hey, how are you feelin? I'm feelin artsy!</p>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- footer-->
        <div class="row">
                <div class="footer-nowhitespace" style="margin-top: 0px">
                <h4>The pictures in the gallery are from placeimg.com</h4>
                <p>Design by <b>Yurisasc</b></p>
                </div>
            </div>
</body>
</html>